@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

* {
    padding: 0;
    margin: 0;
    font-family: Outfit;
}

body {
    background: #dadada;
}

a {
    text-decoration: none;
    color: inherit;
}

ul {
    list-style: none;
}

input {
    border: none;
    outline: none;
    margin: 0;
    background-color: transparent;
    box-shadow: none;
    appearance: none;
    border-radius: 0;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #131921;
    padding: 10px 20px;
    color: #fff;
    min-width: 1090px;
}

.logo-link {
    display: flex;
    align-items: center;

    div {
        margin-bottom: 10px;
    }
}

.nav-deliver {
    display: flex;
    align-items: end;
    margin-left: 15px;

    div {
        width: 250px;
        font-size: 13px;
        color: #c4c4c4;

        h1 {
            color: #fff;
            font-size: 14px;
        }
    }
}

.nav-search {
    min-width: 200px;
    background: blue;
    display: flex;
    flex: 1;
    align-items: center;

    .nav-search-category {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 53px;
        height: 38px;
        background: #e5e5e5;
        border-radius: 3px 0 0 3px;
        color: #606060;

        p {
            font-size: 13px;
            margin-right: 10px;
        }
    }

    .nav-search-input {
        padding-left: 10px;
        height: 38px;
        background: #fff;
        min-width: 103px;
        width: 100%;
    }

    .nav-search-icon-box {
        display: flex;
        align-items: center;
        justify-content: center;
        background: #f5bf77;
        width: 50px;
        height: 38px;
        border-radius: 0 3px 3px 0;
    }
}

.nav-language {
    margin-left: 30px;
    display: flex;
    justify-content: center;
    align-items: center;

    p {
        margin: 0 5px;
    }
}

.nav-account {
    margin-left: 20px;

    p {
        font-size: 13px;
    }

    .nav-account-icon {
        display: flex;
        align-items: center;

        p {
            margin-right: 6px;
            font-size: 15px;
            font-weight: 600;
        }
    }
}

.nav-returns {
    margin-left: 20px;

    p {
        font-size: 13px;
    }

    h6 {
        font-size: 15px;
        font-weight: 600;
    }
}

.nav-Basket {
    display: flex;
    align-items: center;
    margin-left: 25px;

    p {
        font-size: 15px;
        font-weight: 600;
    }
}

.nav-bottom {
    display: flex;
    height: 38px;
    align-items: center;
    justify-content: space-between;
    background: #262f3e;
    color: #fff;
    font-size: 15px;

    .nav-bottom-menu {
        display: flex;
        align-items: center;

        .nav-bottom-icon {
            margin-left: 20px;
            display: flex;
            align-items: center;
            gap: 3px;
        }

        ul {
            display: flex;
            margin-left: 20px;
            gap: 20px;

            img {
                margin-left: 3px;
            }
        }
    }

    .nav-bottom-reacher {
        margin: 0 30px;
        display: flex;
        align-items: center;

        h1 {
            font-size: 18px;
            margin-right: 5px;
        }

        p {
            font-size: 19px;
        }
    }

}

.header-slider {
    a {
        position: absolute;
        top: 20%;
        z-index: 1;
        padding: 5vh 1vw;
        background: #ffffff4f;
        color: #0000007b;
        text-decoration: none;
        font-weight: 600;
        font-size: 18px;
        cursor: pointer;
    }

    .control-next {
        right: 0;
    }

    ul {
        display: flex;
        overflow-y: hidden;
    }

    .header-img img {
        max-width: 100%;
        mask-image: linear-gradient(to bottom, #000000 50%, transparent 100%);
    }
}

.box-row {
    display: flex;
    flex-wrap: wrap;
    row-gap: 20px;
    justify-content: space-between;
    margin: 20px 30px;
    min-width: 1150px;

    .box-col {
        z-index: 1;
        width: 23%;
        display: flex;
        flex-direction: column;
        gap: 10px;
        padding: 15px 20px;
        background: #fff;
        aspect-ratio: 1 / 1;
        box-sizing: border-box;

        a {
            font-size: 13px;
            color: #009999;
            font-weight: 500;
        }
    }
}

.header-box {
    margin-top: -20vh;
}

.products-slider {
    background: #fff;
    margin: 0 30px;
    padding: 20px;
    margin-bottom: 15px;
    height: 255px;
    overflow: hidden;

    .products {
        display: flex;
        overflow-x: auto;
        gap: 20px;
        margin-top: 10px;
        padding-bottom: 8px;
        box-sizing: border-box;

        img {
            max-width: 200px;
        }
    }

    .products::-webkit-scrollbar {
        display: none;
    }
}


.products-slider:hover {
    .products::-webkit-scrollbar {
        display: block;
        width: 8px;
        height: 8px;
    }

    .products::-webkit-scrollbar-thumb {
        background: #c4c4c4;
        /* 滚动条滑块颜色 */
        border-radius: 4px;
        /* 滑块圆角 */
    }
}

.products-slider-with-price {
    background: #fff;
    margin: 0 30px;
    padding: 20px;
    padding-bottom: 10px;

    h2 {
        font-size: 20px;
    }

    .products {
        display: flex;
        overflow-X: auto;

        .product-card {
            margin: 20px;

            img {
                max-width: 220px;
            }

            .product-offer {
                display: flex;
                align-items: center;
                gap: 8px;
                font-size: 12px;

                .red-box {
                    padding: 5px;
                    border-radius: 6%;
                    color: #fefdfd;
                    background: #bb2b3e;
                }

                .red-words {
                    color: #bb2b3e;
                    font-weight: 600;
                }
            }

            .product-price {
                display: flex;
                gap: 2px;
                margin-top: 5px;

                .dollar {
                    font-size: 11px;
                }

                .number {
                    font-size: 18px;
                    margin-top: -3px;
                }

                .decimal {
                    font-size: 11px;
                }

                .RRP {
                    margin-left: 5px;
                    font-size: 13px;
                    color: #575959;
                }

                .RRP-price {
                    font-size: 13px;
                    text-decoration: line-through;
                    color: #575959;
                }
            }

            .product-intro {
                margin-top: 5px;
                font-size: 12px;
                width: 200px;
                /* 设置宽度 */
                white-space: nowrap;
                /* 禁止换行 */
                overflow: hidden;
                /* 隐藏溢出部分 */
                text-overflow: ellipsis;
                /* 显示省略号 */
            }
        }
    }
    .products::-webkit-scrollbar {
        display: none;
    }
}

.products-slider-with-price:hover {
    .products::-webkit-scrollbar {
        display: block;
        width: 8px;
        height: 8px;
    }

    .products::-webkit-scrollbar-thumb {
        background: #c4c4c4;
        /* 滚动条滑块颜色 */
        border-radius: 4px;
        /* 滑块圆角 */
    }
}
footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
    background: #131921;
    padding: 20px 60px;
}