@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

* {
    padding: 0;
    margin: 0;
    font-family: Outfit;
}

body {
    background: #dadada;
}

a {
    text-decoration: none;
    color: inherit;
}

input {
    border: none;
    outline: none;
    margin: 0;
    background-color: transparent;
    box-shadow: none;
    appearance: none;
    border-radius: 0;
}

nav {
    display: flex;
    align-items: center;
    // justify-content: space-between;
    background: #131921;
    padding: 10px 20px;
    color: #fff;
    min-width: 1090px;
}

.logo-link {
    display: flex;
    align-items: center;

    div {
        margin-bottom: 10px;
    }
}

.nav-deliver {
    display: flex;
    align-items: end;
    margin-left: 15px;

    div {
        width: 250px;
        font-size: 13px;
        color: #c4c4c4;

        h1 {
            color: #fff;
            font-size: 14px;
        }
    }
}

.nav-search {
    min-width: 200px;
    background: blue;
    display: flex;
    flex: 1;
    align-items: center;

    .nav-search-category {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 53px;
        height: 38px;
        background: #e5e5e5;
        border-radius: 3px 0 0 3px;
        color: #606060;

        p {
            font-size: 13px;
            margin-right: 10px;
        }
    }

    .nav-search-input {
        height: 38px;
        background: #fff;
        min-width: 103px;
        width: 100%;
    }

    .nav-search-icon-box {
        display: flex;
        align-items: center;
        justify-content: center;
        background: #f5bf77;
        width: 50px;
        height: 38px;
        border-radius: 0 3px 3px 0;
    }
}

.nav-language {
    margin-left: 30px;
    display: flex;
    justify-content: center;
    align-items: center;

    p {
        margin: 0 5px;
    }
}

.nav-account {
    margin-left: 20px;

    p {
        font-size: 13px;
    }

    .nav-account-icon {
        display: flex;
        align-items: center;

        p {
            margin-right: 6px;
            font-size: 15px;
            font-weight: 600;
        }
    }
}
.nav-returns{
    margin-left: 20px;
    p{
        font-size: 13px;
    }
    h6{
        font-size: 15px;
        font-weight: 600;
    }
}
.nav-Basket{
    display: flex;
    align-items: center;
    margin-left: 25px;
    p{
        font-size: 15px;
        font-weight: 600;
    }
}